
		
		<div class="container-fluid" id="mycaro">
		<h3>{{data.title}}</h3>
			<div class="row">
				<div class="col-sm-12 mb-4">
					<div id="demo" class="carousel slide" data-ride="carousel">

					  <!-- Indicators -->
					  <ul class="carousel-indicators">
						<li data-target="#demo" data-slide-to="0" class="active"></li>
						<li data-target="#demo" data-slide-to="1"></li>
					  </ul>
					  
					  <!-- The slideshow -->
					  <div class="carousel-inner">
						<div class="carousel-item active">
							<div class="card bg-default">
								<div class="card-body"><img class="img-responsive" src="{{data.hindiImage}}" alt="Hindi" width="1100" height="500"></div>
								<div class="card-footer">Hindi</div>
							</div>						  
						</div>
						<div class="carousel-item">
						  <div class="card bg-default">
								<div class="card-body"><img class="img-responsive" src="{{data.shardaImage}}" alt="Sharda" width="1100" height="500"></div>
								<div class="card-footer">Sharda</div>
							</div>
						</div>
						
					  </div>
					  
					  <!-- Left and right controls -->
					  <a class="carousel-control-prev" href="#demo" data-slide="prev">
						<span class="carousel-control-prev-icon"></span>
					  </a>
					  <a class="carousel-control-next" href="#demo" data-slide="next">
						<span class="carousel-control-next-icon"></span>
					  </a>
					</div><!----Caro ended-------->
				</div><!----col ended-------->
				<audio controls>
					  <source src="{{data.audio}}" type="audio/mpeg">
					Your browser does not support the audio element.
				</audio>
				<div class="col-sm-12 mb-4" style="
    margin-top: 1em;
">
					<div class="card bg-default">
						<div class="card-header">English Transliteration</div>
						<div class="card-body">{{{data.englishTransliteration}}}</div>
					</div>
				</div><!----col ended-------->
				<div class="col-sm-12 mb-4">
					<div class="card bg-default">
						<div class="card-header">Word Meaning</div>
						<div class="card-body">{{{data.wordMeaning}}}</div>
							</div>
				</div><!----col ended-------->
				<div class="col-sm-12 mb-4">
					<div class="card bg-default">
						<div class="card-header">Summary</div>
						<div class="card-body">{{{data.summary}}}</div>
					</div>
				</div><!----col ended-------->
				<div class="col-sm-12 mb-4">
					<div class="card bg-default">
						<div class="card-header">Additional Commentary</div>
						<div class="card-body">{{{data.additionalCommentary}}}
</div>
					</div>
				</div><!----col ended-------->
			</div><!----row ended-------->
		</div>	<!----container-fluid ended-------->